<!DOCTYPE html>
<style>
    .tam {
        font-size: 60px;
        color: #802831;
    }
    
    .datos,
    .estado {
        width: 150px;
        height: 30px;
        border: 1px solid #FFFFFF;
        border-radius: 0px;
    }
</style>
<div align="center">
    <h1>Eliminar Beneficiarios</h1>
</div>

<div align="center">
    <span class="fa fa-eraser tam"></span>
</div>
<p>&nbsp;</p>

<div class="row">

    <div class="col-md-1 col-xs-1"></div>

    <div class="col-md-9 col-xs-9">


        <div class="">



            <table cellspacing="0" cellpadding="0" class="table table-striped table-hover">
                <tr>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">Correo Electronico</th>
                    <th scope="col">Acci&oacute;n</th>

                </tr>
                <tr>
                    <td><input type="text" value="Gerson Rodriguez" class="form-control datos nombres" disabled></td>
                    <td><input type="text" value="gerson@gmail.com" class="form-control datos" disabled id="correo"></td>
                    <td>
                        <a href="#" onclick="habilitar()">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" value="Antonio Barrios" class="form-control datos nombres" disabled></td>
                    <td><input type="text" value="antonio@gmail.com" class="form-control datos mailanterior" disabled></td>
                    <td>
                        <a href="#" onclick="habilitar()">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" value="Jose Rodriguez" class="form-control datos nombres" disabled></td>
                    <td><input type="text" value="joserod@gmail.com" class="form-control datos mailanterior" disabled></td>
                    <td>
                        <a href="#" onclick="habilitar()">Eliminar</a>
                    </td>
                </tr>
            </table>
        </div>

        <!--BOTONES PARA ACCIONAR SOBRE LOS DATOS-->

        <form action="" method="" class="form-horizontal" role="form">
            <div class="btn-group" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary btn-ls" onclick="deshabilitar()">Guardar</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-danger btn-ls" onclick="javascript:document.location.href='index.html'">Cancelar</button>
                </div>

            </div>
        </form>

        <!--FIN DE BOTONES PARA ACCIONAR SOBRE LOS DATOS-->



    </div>



    <div class="col-md-2 col-xs-2"></div>
</div>
<script>
    function habilitar() {
        document.getElementByClass('nombres').disabled = false;
        document.getElementByClass('correo').disabled = false;
    }

    function deshabilitar() {
        document.getElementByClass('nombres').disabled = true;
        document.getElementByClass('correo').disabled = true;
    }
</script>